name: E2E

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  proxy-e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: build
        run: make build

      - name: test-e2e
        run: make test-e2e

      - name: test-e2e-integration
        run: make test-e2e-integration
